<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <a href="/">
        <img src="/images/CashMash.png" alt="CashMash Logo" class="logo-img" />
      </a>
    </div>

    <div class="footer-info">
      <p>CashMash is a licensed and regulated online gaming platform. Participation is strictly restricted to users aged 18 or over.</p>
      <p>WARNING: Gambling is highly addictive. Play responsibly and only bet what you can afford to lose. For help, visit our Responsible Gaming page.</p>
      <p>By using this site, you agree to our full Terms & Conditions, Privacy Policy, and Responsible Gaming policy.</p>
      <p>
        For customer support, regulatory inquiries, or responsible gaming assistance, contact: 
        <a href="mailto:cashmashhelp@gmail.com" class="footer-link">cashmashhelp@gmail.com</a>
      </p>
    </div>

    <div class="footer-social">
      <a href="https://t.me/cashmashnet" target="_blank" class="social-icon">
        <img src="/images/icons/telegram.svg" alt="Telegram" class="social-img" style="width: 30px; height: 30px;" />
      </a>
</div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 CashMash • All rights reserved</p>
  </div>
</footer>