<h2>Rakeback</h2>
<h3>Weekly Rakeback Summary</h3>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weekly Wagered</th>
      <th>Percent</th>
      <th>Rakeback Added</th>
    </tr>
  </thead>
  <tbody>
    <% rakebackHistory.forEach(rb=> { %>
      <tr>
        <td>
          <%= rb.date.toLocaleDateString() %>
        </td>
        <td>$<%= rb.weeklyWagered.toLocaleString() %>
        </td>
        <td>
          <%= rb.percent %>%
        </td>
        <td>$<%= rb.rakeback.toLocaleString('en-US', { minimumFractionDigits: 2 }) %>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>